.FanView
{
  height: 100%;
  width: 100%;
}
.FanView .main{
  height: 100%;
  margin-left: 15%;
  padding: 20px;
  box-sizing: border-box;
}
.FanView .cardsContainer{
  background-color: rgba(1, 23, 70, 0.808);
  min-height: 500px;
  padding: 20px;
  box-sizing: border-box;
}
