.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.Header .logo img{
  height: 10vh;
}
.Header .signIn button{
  background-color: #01329d;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.Header .signIn button:hover{
  background-color: #002472;
}

.Header .userInfo
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header .username{
  font-size: 1rem;
  font-weight: bold;
  color: #505050;
  margin-right: 20px;
}

.Header .userInfo img{
  height: 4vh;
  margin-right: 20px;
}