.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  height: 10vh;
}

.sticky-header {
  visibility: hidden;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.Header .logo img{
  height: 10vh;
}
.Header .signIn button{
  background-color: #01329d;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.Header .signIn button:hover{
  background-color: #002472;
}

.userInfo .logout-button {
  display: none;
  background-color: #020202;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 2%;
}

.userInfo:hover .logout-button {
  display: block;
}

.Header .userInfo
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header .username{
  font-size: 1rem;
  font-weight: bold;
  color: #505050;
  margin-right: 20px;
}

.Header .userInfo img{
  height: 4vh;
  margin-right: 20px;
}