/* Style for the main page container */
.mainPage {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style for the landing section of the main page */
.mainPage .landingSection {
  background-image: URL('../assets/ALAHLY.jpg');
  opacity: 0.8;
  background-size:cover;
  background-blend-mode:multiply;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #01329d;
  color: white;
  padding: 20px;
}

/* Style for the main heading on the main page */
.mainPage > h1 {
  color: white;
}

/* Style for the landing text on the main page */
.mainPage .landingSection .landingText {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
}

/* Style for the first heading in the landing text on the main page */
.mainPage .landingSection .landingText > h1:nth-child(2) {
  font-size: 3rem;
  margin-bottom: 0;
  color: yellow;
}

/* Style for the second heading in the landing text on the main page */
.mainPage .landingSection .landingText > h1:last-child {
  font-size: 2rem;
  margin-bottom: 0;
}

/* Style for the container that holds the matches on the main page */
.mainPage .matchesContainer {
  min-height: 200px;
  width: 90%;
  padding: 20px;
  margin-bottom: 5%;
  background-color: #3b52898c;
  box-shadow: 0px 0px 10px 0px #000000;
}

/* Style for the side button on the main page */
.mainPage .sideButton {
  position: fixed;
  bottom: 3%;
  left: 2%;
  background-color: #ffcd29;
  color: #0c0c0c;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: scale 0.3s;
}

/* Style for the side button on hover */
.mainPage .sideButton:hover {
  background-color: #cea520;
  scale: 1.05;
}