.matchCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2; /* match the background color */
  border: 1px solid #ddd; /* assuming a light grey border */
  padding: 10px;
  border-radius: 5px;
  max-width: 95%;
  margin: auto; /* center in the parent element */
  margin-bottom: 1%;
}



.matchCard .date {
  flex: 1;
  text-align: center; /* center date info */
  color: #333; /* dark grey color for text */
border-right: 1px solid #ddd; /* light grey border on the right */
  margin-right: 20px; /* space between date and info */
}

.matchCard .month,.matchCard .day,.matchCard .year {
  display: block; /* each on its own line */
}

.matchCard .day{
  font-size: 2em; /* larger font size */
  font-weight: bold; /* make the date bold */
}

.matchCard .info {
  flex: 3;
  flex-grow: 3; /* allow the info section to grow */
  display: flex;
  flex-direction: column;
  text-align: left; /* left info */
  align-items:flex-start;
}

.matchCard .info h2 {
  color: #999; /* light grey color */
  font-size: 0.8rem; /* smaller font size */
  margin: 0; /* remove default margin */
  padding: 0; /* remove default padding */
}

.matchCard .teams {
  color: #000; /* black color */
  margin: 0.5em 0; /* margin for spacing */
}

.matchCard .time{
  display: block; /* each on its own line */
  font-size: 1rem;
  font-weight: bold;
  color: #57b728; /* medium grey color */
}

.matchCard .stadium {
  display: block; /* each on its own line */
  color: #666; /* medium grey color */
}

.matchCard .price {
  flex: 1;
  font-size: 1.5em; /* larger font size */
  color: #e60000; /* red color for price */
  font-weight: bold; /* make the price bold */
  margin-right: 20px; /* space between price and buttons */
}
.matchCard .buttons
{
  flex:2;
display: flex;
flex-direction: row;
align-items: center;
}

.matchCard .buttons button:not(:has(img)) {
  font-size: 1rem;
  background-color: #5cbc2d; /* red background */
  color: white; /* white text */
  border: none; /* no border */
  padding: 10px 20px; /* padding inside the button */
  text-transform: uppercase; /* uppercase text */
  border-radius: 15px; /* rounded corners for button */
  cursor: pointer; /* cursor for click */
  font-weight: bold; /* bold text */
  margin-right: 10px;
}

.matchCard .buttons button:has(img) {
  color: white; /* white text */
  border: none; /* no border */
  padding: 10px 20px; /* padding inside the button */
  text-transform: uppercase; /* uppercase text */
  border-radius: 15px; /* rounded corners for button */
  cursor: pointer; /* cursor for click */
  font-weight: bold; /* bold text */
  margin-right: 10px;
}

.matchCard .buttons img{
  height: 4rem;
  margin-right: 10px;
  margin-left: 10%;
}

.matchCard .buttons button:not(:has(img)):hover {
  background-color: #4CAF50; /* darker background on hover */
}

.matchCard .buttons button.disabled {
  background-color: #ccc; /* grey background */
  cursor: not-allowed; /* cursor for disabled button */
}

.matchCard .buttons button.cancel {
  background-color: #ee1d1d; /* grey background */
}

.matchCard .buttons button.cancel:hover {
  background-color: #e00; /* darker background on hover */
}

