.sidebar {
  height: 90vh;
  position: fixed;
  background-color: #4C6EA5; /* Replace with the exact color code from the image */
  color: white;
  width: 15%; /* Adjust width to match your design */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebar .menu-item {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #365882; /* Darker shade for the border */
  background-color: #365882;
  cursor: pointer;
}

.sidebar .menu-item > span {
  color: white;
}

.sidebar .menu-item.active{
  background-color: #01329d;
}

.sidebar .menu-item:last-child {
  border-bottom: none; /* No border for the last item */
}

.sidebar .menu-item.settings {
  align-self: flex-end; /* Align settings to the bottom */
  position: absolute; /* Position at the bottom */
  bottom: 0px;
  width: 100%;
  background-color: #444444;
}

/* Icons and further styling can be added with pseudo-elements or additional spans/classes */
