.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  background-color: #e9ecef; /* Light grey background */
}

.signin-container .signin-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.signin-container h2 {
  margin-bottom: 10px;
}

.signin-container p {
  color: #6c757d; /* Grey text */
  margin-bottom: 20px;
}

.signin-container .input-group {
  margin-bottom: 20px;
  text-align: left;
}

.signin-container .input-group label {
  display: block;
  margin-bottom: 5px;
}

.signin-container .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.signin-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1f4ba9;
  color: white;
  cursor: pointer;
}

.signin-container button:hover {
  background-color: #03297a;
}

.signin-container .signup-text {
  margin-top: 20px;
  font-size: 0.9em;
}

.signin-container .signup-text a {
  color: #007bff;
  text-decoration: none;
}

.signin-container .signup-text a:hover {
  text-decoration: underline;
}
