.SiteAdminView
{
  height: 100%;
  width: 100%;
}
.SiteAdminView .main{
  height: 100%;
  width: auto;
  margin-left: 15%;
  padding: 20px;
}
.SiteAdminView .usersContainer{
  background-color: rgb(255, 255, 255);
  min-height: 500px;
  width: 100%;
}

.SiteAdminView .user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for styling */
}

.SiteAdminView .user-table th, .user-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.SiteAdminView .user-table th {
  background-color: #4CAF50;
  color: white;
}

.SiteAdminView td.button {
width: 10%;
}


.SiteAdminView .user-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.SiteAdminView .btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.SiteAdminView .approve {
  background-color: #4CAF50; /* Green */
}

.SiteAdminView .decline {
  background-color: #f44336; /* Red */
}

.SiteAdminView .btn:focus {
  outline: none; /* Removes the outline on focus for buttons */
}

/* Hover effects */
.SiteAdminView .btn:hover {
  opacity: 0.8;
}
