.StadiumCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2; /* match the background color */
  border: 1px solid #ddd; /* assuming a light grey border */
  padding: 10px;
  border-radius: 5px;
  max-width: 95%;
  margin: auto; /* center in the parent element */
  margin-bottom: 1%;
}

.StadiumCard .icon {
  flex: 1;
  text-align: center; /* center date info */
  color: #333; /* dark grey color for text */
border-right: 1px solid #ddd; /* light grey border on the right */
  margin-right: 20px; /* space between date and info */
}

.StadiumCard .info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.StadiumCard .info .name{
  align-self:flex-start;
}
.StadiumCard .info .shape, .info .size{
  font-size: 1.1rem;
}
